/* General Styles */
body {
    font-family: Arial, sans-serif;
}

/* Slider Container */
.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 80%; /* Adjust as needed */
    margin: 0 auto;
}

.slider {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.card {
    flex: 0 0 50%; /* Each card takes up 100% of the slider width */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.left-button, .right-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

.left-button {
    position: absolute;
    left: 0;
}

.right-button {
    position: absolute;
    right: 0;
}
